$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$gray-color: #EAEAEA;
$gray-shadow-color: #4d4b4b;
$shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
$color-text-primary: #000;

$gradient:linear-gradient($secondary-color, $primary-color);

$title-size: 5.9vw;
$title-sizex2: 7.9vw;
$title-family:'Shrikhand', cursive;
$text-color: #fff;
