
.container__loader {
    background: #f7f7f7;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    animation: loader ease 4s;
    animation-fill-mode: forwards;
    .loader{
        width: 48px;
        height: 48px;
        border: 5px solid $secondary-color;
        border-bottom-color: $primary-color;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }
}

@keyframes loader {
    0%    { opacity: 1; }
    20%   { opacity: 1; }
    80%   { opacity: 0; }
    100%  { opacity: 0; z-index: -9999;}
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 



    header {
        margin-bottom: 2.5em;

        nav {
            @include navigation;
        }

        .container__text {
            background: $gray-color;
            height: 3.2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                margin-right: 3%;
            }
        }

        .container__section {
            background: #f7f7f7;
            .container__title {
                h1 {
                    padding-top: 4%;
                    text-align: center;
                    font-size: 1.5rem;
                }

                p {
                    margin: 5% 5%;
                    text-align: center;
                    font-size: 1rem;
                }
            }

            .container__button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15%;
            }
        }
    }

    main {
        section {
            .container__group-buttons {
                h2 {
                    margin-left: 1.7rem;
                }

                .container__buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .button {
                        background: #f7f7f7;
                        position: relative;
                        padding: 8%;
                        margin: 1.2rem;
                        height: 2.5rem;
                        width: 80%;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

                        .container--bubble {
                            position: absolute;
                            left: -4%;
                            background: $primary-color;
                            height: 1.2rem;
                            width: 1.2rem;
                            border-radius: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            p {
                                color: #fff;
                            }
                        }

                        .fa-solid {
                            color: $gray-shadow-color;
                            margin-right: 8px;
                        }

                        &:hover {
                            background: #f5edff;

                            .color {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }

        .container__restaurant {
            padding: 5%;
            .container__cards {
                .card {
                    width: 90%;
                    margin: 1.2rem auto;
                    border-radius: 15px;
                    overflow: hidden;
                    color: $color-text-primary;
                    box-shadow: $shadow;

                    .container__img {
                        width: 100%;
                        height: 12rem;
                        overflow: hidden;
                        position: relative;
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .card__body {
                        padding: 1rem;
                        display: grid;
                        grid-template-columns: 2fr;
                        grid-template-rows: 1rem 1rem;

                        h3 {
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 1;
                            grid-row-end: 2;
                        }

                        p {
                            margin-top: 5px;
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 2;
                            grid-row-end: 3;
                        }

                        i {
                            grid-row-start: 1;
                            grid-row-end: 3;
                            grid-column-start: 2;
                            grid-column-end: 3;
                            margin-top: 0.9rem;
                        }
                        .icon-animation {
                            display: none;
                        }
                        i:hover ~ .icon-animation {
                            display: block;
                            /* filter: invert(12%) sepia(93%) saturate(7428%) hue-rotate(1deg) brightness(102%) contrast(111%); */
                            filter: invert(49%) sepia(38%) saturate(6988%) hue-rotate(241deg) brightness(90%)
                                contrast(90%);
                        }
                    }
                }
            }
        }
    }


@include breakpoint-min($bp-small) {
    .container__section {
        .container__button {
            .button--primary {
                width: 30%;
            }
        }
    }

    .container__cards {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        .card {
            width: 100%;
            margin: 1.2rem auto;
            border-radius: 15px;
            overflow: hidden;
            color: $color-text-primary;
            box-shadow: $shadow;

            .container__img {
                width: 100%;
                height: 12rem;
                overflow: hidden;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    main {
        section {
            .container__group-buttons {
                h2 {
                    margin-left: 4.3rem;
                }

                .container__buttons {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    .button {
                        background: #f7f7f7;
                        position: relative;
                        padding: 2%;
                        margin: 1.2rem;
                        height: 2.5rem;
                        width: 20%;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

                        .container--bubble {
                            position: absolute;
                            left: -4%;
                            background: $primary-color;
                            height: 1.2rem;
                            width: 1.2rem;
                            border-radius: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            p {
                                color: #fff;
                            }
                        }

                        .fa-solid {
                            color: $gray-shadow-color;
                            margin-right: 8px;
                        }

                        &:hover {
                            background: #f5edff;

                            .color {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }

        .container__restaurant {
            padding: 5%;
            display: flex;
            flex-direction: column;
            .container__cards {
                width: 100%;
                margin: 0 auto;
                .card {
                    width: 30em;
                    margin: 8% auto;
                    border-radius: 15px;
                    overflow: hidden;
                    color: $color-text-primary;
                    box-shadow: $shadow;

                    .container__img {
                        width: 100%;
                        height: 12rem;
                        overflow: hidden;
                        position: relative;
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}
@include breakpoint-max($bp-large) {
}
@include breakpoint-min-max($bp-small, $bp-large) {
    .container__main {
        header {
            margin-bottom: 2.5em;

            nav {
                @include navigation;
            }

            .container__text {
                background: $gray-color;
                height: 3.2rem;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    margin-right: 3%;
                }
            }

            .container__section {
                background: #f7f7f7;
                padding-bottom: 5%;
                .container__title {
                    h1 {
                        margin: 0;
                        padding-top: 5%;
                        text-align: center;
                        font-size: 1.5rem;
                    }

                    p {
                        margin: 5% 5%;
                        text-align: center;
                        font-size: 1rem;
                    }
                }

                .container__button {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 1%;
                    .button--primary {
                        width: 50%;
                    }
                }
            }
        }

        main {
            section {
                .container__group-buttons {
                    .container__buttons {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .button {
                            background: #f7f7f7;
                            position: relative;
                            padding: 4%;
                            margin: 1.2rem;
                            height: 2.5rem;
                            width: 50%;
                            display: flex;
                            align-items: center;
                            .container--bubble {
                                left: -1.8%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
            .container__restaurant {
                .container__cards {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .card {
                        width: 34em;
                        margin: 8% auto;
                        border-radius: 15px;
                        overflow: hidden;
                        color: $color-text-primary;
                        box-shadow: $shadow;
                        .container__img {
                            width: 100%;
                            height: 12rem;
                            overflow: hidden;
                            position: relative;
                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }

        footer {
            .container__logo {
                .text__logo {
                    @include title--primary($text-color, 300%);
                }
            }
        }
    }
}
