@keyframes aparation {
    0% {
        transform: translateX(-200px);
        opacity: 22%;
    }

    100% {
        transform: translateX(0px);
    }
}
.container__main-menu {
    .header__menu {
        margin-bottom: 0;

        .navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            a {

                .fa-solid,
                .fa-arrow-left {
                    padding-left: 20px;                   
                }
            }

        }

        .header-img {
            background-image: url("../../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 40vh;
        }
    }

    .container__menu {
        width: 100%;
        background: $gray-color;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-top: -10%;

        .banner__tittle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.2rem;

            .title--primary {
                margin-top: 25px;
                @include title--primary($color-text-primary, $title-sizex2);            
            }
            i {
                margin: 30px 1rem 0 1rem;
                font-size: 1.4rem;
            }
        }

        .container__section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .section__tittle {
                font-size: 1rem;
                color: $gray-shadow-color;
                align-self: flex-start;
                padding: 0 6%;
                margin-top: 1.6rem;
                margin-bottom: 1%;
                text-transform: uppercase;
                font-weight: 400;

            }

            .underline {
                background: $tertiary-color;
                align-self: flex-start;
                height: 0.2rem;
                width: 2.5rem;
                margin: 0 0 3% 6%;
            }

            .item__info {
                background: #fff;
                width: 19rem;
                height: 4.8rem;
                display: flex;
                justify-content: space-between;
                margin-bottom: 2.5rem;
                border-radius: 15px;
                box-shadow: $gray-shadow-color;
                animation: aparation 2s;
                overflow: hidden;
                &:hover 
                .box-animation  {
                    transform: translate(0, 0);
                }
                .info__prix {
                    padding: 5%;
                    padding-right: 3.4rem;
                }
                .box-animation {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: transform 530ms ease-in-out;
                    transform: translate(65%, 0);    
                    .container_anime {
                        height: 5rem;
                        width: 4rem;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $tertiary-color;
                        transition: transform 0.2s ease-out;
                        .fa-solid {
                            color: #fff;
                            font-size: 1.2rem;
                        }
                    }
                }

                .container__info {
                    padding: 5%;                
                    .info__title {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .info__subtitle {
                        width: 100%;
                        color: #948f8f;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .info__prix {
                    margin-right: 2rem;
                    padding: 5%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    overflow: hidden;
                }

                .container_anime {
                    width: 4rem;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $tertiary-color;
                    transition: transform 0.2s ease-out;
                }
            }
            .item__info:nth-child(2n) {
                animation: aparation 1.5s;
            }
            .item__info:nth-child(3n) {
                animation: aparation 0.5s;
            }
            .button--primary {
                margin-bottom: 10%;
            }
        }
    }
}

@include breakpoint-max($bp-large) {

}

@include breakpoint-min-max($bp-small, $bp-large) {
    .container__main-menu {
        .header__menu {
            .navigation {            
                height: 10%;
                .logo__container {
                    margin: 2.5% auto 1.5%;
                }
                a {
    
                    .fa-solid,
                    .fa-arrow-left {
                        padding-left: 20px;                   
                    }
                }
    
            }
            .header-img {
                height: 60vh;       
            }
        }
        .container__menu {
            margin-top: -1.9%;
        }
    }
}